*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: #d0d4d5;
    position: relative;
}
#nav
{
    height: 110px;
    padding:0 50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav img{
    height: 35px;
    margin-right: 150px;
    margin-left: 50px;
}
#nav-prt1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-prt1 h4
{
    margin-right: 60px;
font-size: 17px;
text-transform: uppercase;
font-weight: 600;
}

#nav-prt2 i
{
    margin-right: 60px;
font-size: 23px;
text-transform: uppercase;
font-weight: 200;
}

#content{
    width:100%;
    height:calc(100% - 110px);
    position:relative;
    display:flex;

}
#left
{
    width: 38%;
    height:100%;
    padding:70px 150px;

}

#left h5{
    font-size: 20px;
    margin-bottom: 10px;
    color: #535353;
}

#left h1{
    font-size: 58px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#left p{
    font-size: 16px;
    margin-bottom: 20px;
 width:70%;
}

#left button
{

    background-color: #000;
    color:#fff;
    font-size: 15px;
    padding: 15px 35px;
    border-top-left-radius: 0px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
#right
{
    height: 100%;
    width: 65%;
    position:relative;
    padding:20px ;
    white-space: nowrap;
    overflow-x: auto;
}

#right::-webkit-scrollbar
{
    display: none;
}

.elem
{
    height:500px;
    width:300px;
    background-color: white;
    position:relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;
}
.elem img{
    height:40%;
    width:100%;
    top:20%;
    object-fit: cover;
    position:absolute;
}

.elem h4{

    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #d0d4d5;
    padding :17px 36px;
    border-radius: 6px;
}

.elem h5{

    position: absolute;
    bottom: 10%;
    right: 0;
    font-weight: 500;
    background-color: #000000;
    color:#fff;
    padding :17px 36px;
    font-size: 12px;
    border-radius: 6px;
}